*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.container{
	margin:40px auto;
	width:90%;
	display:flex;
	gap:10px;
	
}
.panel{
	flex:1;
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	transition:flex 0.5s ease-in-out;
	cursor:pointer;
	display:flex;
	align-items:flex-end;
	justify-content:flex-start;
	overflow:hidden;
	border-radius:20px;
	width:600px;
	height:250px;
	
}

.img-text{
	color:white;
	font-size:22px;
	opacity:0;
	padding: 15px;
    font-weight: bold;
	
    
    transition: opacity 0.4s ease-in-out;
    text-shadow: 0 3px 8px rgba(0,0,0,0.7);
}

.panel.active {
  flex: 5;
}

.panel.active .img-text {
  opacity: 1;
}

